/* app css stylesheet */

.menu {
  list-style: none;
  background-color: #3399ff;
  padding: 15px;
  margin: 0px;
  width: 100%;
}

.mbutton {
  border: 2px solid #000000;
  font-family: Futura, Tahoma, sans-serif;
  color: #ffffff;
  border-radius: 5px;
  display: inline;
  text-decoration: none;
}

.title {
  font-size: 20px;
  font-weight: bold;
  font-family: "Comic Sans MS", sans-serif;
  display: inline;
  padding-right: 10px;
}

.home {
  font-size: 15px;
  font-family: "Lucida Sans Unicode", sans-serif;
  color: #fff;
  background-color: #00006B;
  padding-left: 20px;
  width: 500px;
}

.bar {
  float:left;
  height: 600px;
  width: 100px;
  background-color: #33CCFF;
}

.content {
  float: left;
  height: 600px;
  width: 400px;
  background-color: #ffffff;
  padding-left: 20px;
}

.footer {
  background-color: #3399ff;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.contact {
  float: right;
  margin-right: 20px;
}

body {
  background-image: url(assets/cityscape.jpg);
}

h1 {
  color: black;
  margin-top: 10px;
}


